.env
secrets.conf
.vscode
.moonraker.conf.bak

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
*.iml
.venv
.shellcheckrc

# Build artifacts
dist/
build/
*.out
*.o
*.bak
*.old
*.test



# Git-specific files
*.orig