[Unit]
Description=Klipper Backup Filewatch Service
#After=NetworkManager-wait-online.service
#Wants=NetworkManager-wait-online.service
#Uncomment below lines if not using network manager
#After=network-online.target
#Wants=network-online.target

[Service]
User=
WorkingDirectory=
Type=simple
ExecStart=/usr/bin/env bash -c '"$HOME/klipper-backup/utils/filewatch.sh"'

[Install]
WantedBy=default.target