[Unit]
Description=Klipper Backup Filewatch Service
After=
Wants=

[Service]
User=
Type=simple
Environment=KLIPPER_BACKUP_CONFIG=
ExecStart=/usr/bin/env bash -c '/usr/bin/env bash "$HOME/klipper-backup/utils/filewatch.sh" --config "$KLIPPER_BACKUP_CONFIG"'

[Install]
WantedBy=default.target
