[Unit]
Description=Klipper Backup On-boot Service
After=
Wants=

[Service]
User=
Type=oneshot
Environment=KLIPPER_BACKUP_CONFIG=
ExecStart=/usr/bin/env bash -c '/usr/bin/env bash "$HOME/klipper-backup/script.sh" --config "$KLIPPER_BACKUP_CONFIG" -c "New Backup on boot - $(date +"%%x - %%X")"'

[Install]
WantedBy=default.target
